/*
*@author Achintha
*This scss file is use to add the main colors and fonts to the project
*/


// Colors
$primary-color: #9C7456;
$secondary-color: #6c757d;

body {
    font-family: 'Roboto', sans-serif;
  }
  
  .ant-typography {
    font-family: 'Roboto', sans-serif;
  }
  