:where(.css-dev-only-do-not-override-240cud).ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: #A67B5B;
    border-color: #A67B5B;
}
:where(.css-dev-only-do-not-override-240cud).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #c59b7c83;
    border-color: #a67b5b78;
}
:where(.css-dev-only-do-not-override-240cud).ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
    color: #A67B5B;
}