/* Use this for status online and offline show case */
.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
}

.status-online {


    background-color: #00FF00; /* Green color for online status */
}

.status-offline {
    background-color: #FF0000; /* Red color for offline status */


}